Variable List
can hold many different types of data

In [3]:
l=[1,2,3,4,"Nand",4.5,True]

In [4]:
type(l)

list

In [5]:
l[0] #List indexing operation

1

In [6]:
l[-1]

True

In [7]:
l[0:5] #List slicing operation same as string

[1, 2, 3, 4, 'Nand']

In [8]:
l[::-1]

[True, 4.5, 'Nand', 4, 3, 2, 1]

In [9]:
#Concatenation possible with List only when we do it with list +list
l+['Patil']

[1, 2, 3, 4, 'Nand', 4.5, True, 'Patil']

In [10]:
l*2

[1, 2, 3, 4, 'Nand', 4.5, True, 1, 2, 3, 4, 'Nand', 4.5, True]

In [11]:
10 in l #function in checks if data available in list or not

False

In [12]:
max(l) #max does not operate with string

TypeError: '>' not supported between instances of 'str' and 'int'

In [13]:
l1=[2,4,5,6,3]

In [14]:
max(l1)

6

In [15]:
#Comparison is done in same datatype
#in case of string follows alphabetical index order 
#in case of numbers maximum valur displyed

In [16]:
min(l1)

2

In [17]:
l.append('nand') #Add the dataset at last index in list onlly one element at a time

In [18]:
l

[1, 2, 3, 4, 'Nand', 4.5, True, 'nand']

In [19]:
l.pop(0) #removes the data list at given index, default is last dataset

1

In [20]:
l

[2, 3, 4, 'Nand', 4.5, True, 'nand']

In [21]:
l[0]

2

In [22]:
[1]+l

[1, 2, 3, 4, 'Nand', 4.5, True, 'nand']

In [23]:
l.pop() #default index is last index

'nand'

In [24]:
l

[2, 3, 4, 'Nand', 4.5, True]

In [25]:
l.reverse() #changes the values of the list

In [26]:
l

[True, 4.5, 'Nand', 4, 3, 2]

In [27]:
l[::-1] #not going to change anything but gives output in run time

[2, 3, 4, 'Nand', 4.5, True]

In [28]:
#reverse() gives permanenet change in the list

In [29]:
l3=[2,58,26,4,5,36,8446]

In [30]:
l3.sort() #default is ascending order

In [31]:
l3

[2, 4, 5, 26, 36, 58, 8446]

In [32]:
l3.sort(reverse=True) #argument is passed with reverse

In [33]:
l3

[8446, 58, 36, 26, 5, 4, 2]

In [34]:
l4=[2,3,4]
l5=[4,6,7]
l6=[8,9,10]

In [35]:
l7=[l4,l5,l6]

In [36]:
l7

[[2, 3, 4], [4, 6, 7], [8, 9, 10]]

In [37]:
l7[2][2] #Gives the extracted element from the sublist

10

In [38]:
l.count(2)

1

In [39]:
l.extend('Nandkumar') #Append add data at end of list as it is whereas in extend operation since int is not able to explore in index fasion so the cant be extend the int value

In [40]:
l

[True, 4.5, 'Nand', 4, 3, 2, 'N', 'a', 'n', 'd', 'k', 'u', 'm', 'a', 'r']

In [41]:
l.extend('4')

In [42]:
l

[True, 4.5, 'Nand', 4, 3, 2, 'N', 'a', 'n', 'd', 'k', 'u', 'm', 'a', 'r', '4']

In [43]:
l.index(1)

0

In [44]:
#Gives the output as index of the argument data if same dataset available multiple times then it gives output as index of first aoprearance of the data

In [45]:
l.insert(3,52) #Inset can be used to add data at any location or index

In [46]:
l

[True,
 4.5,
 'Nand',
 52,
 4,
 3,
 2,
 'N',
 'a',
 'n',
 'd',
 'k',
 'u',
 'm',
 'a',
 'r',
 '4']

In [47]:
l.remove(4) #remove takes the data as argument for operation

In [48]:
l

[True, 4.5, 'Nand', 52, 3, 2, 'N', 'a', 'n', 'd', 'k', 'u', 'm', 'a', 'r', '4']

In [49]:
l.reverse()

In [50]:
l

['4', 'r', 'a', 'm', 'u', 'k', 'd', 'n', 'a', 'N', 2, 3, 52, 'Nand', 4.5, True]

In [51]:
l=[1,2,3,'Nand',True, False,35.6]

In [52]:
l[2]

3

In [53]:
l.append([7,8,9])

In [54]:
l

[1, 2, 3, 'Nand', True, False, 35.6, [7, 8, 9]]

In [55]:
#Reassign the value in list 
l[1]="Patil"

In [56]:
l

[1, 'Patil', 3, 'Nand', True, False, 35.6, [7, 8, 9]]

In [57]:
s="iNeuron"

In [58]:
s[2]='1' #String variable doesnt support item reassignment because
#Item assignment operation: String elements are immutable (not able to item reassignment operation inside the iteration)

TypeError: 'str' object does not support item assignment

In [59]:
#Variable Tuple
t=(1,2,3,4.5,True,"Nand")

In [60]:
type(t)

tuple

In [62]:
t[0] #holds the data wrt index in forward and backward direction

1

In [64]:
t[0:4] #Data slicing operation

(1, 2, 3, 4.5)

In [65]:
t[-3]

4.5

In [68]:
t[::-1]

('Nand', True, 4.5, 3, 2, 1)

In [69]:
t[0:4:-1]

()

In [71]:
t[2]="s" #Tuple is immutable in nature, Item assignment operation is possible

TypeError: 'tuple' object does not support item assignment

In [73]:
t.count(3)

1

In [74]:
t1=(100,5,8)

In [75]:
t+t1

(1, 2, 3, 4.5, True, 'Nand', 100, 5, 8)

In [76]:
#Immutability comes when it does change the existing indexes

In [77]:
t.index(2)

1

In [79]:
(t+t1).count(5)

1

In [81]:
l=list(t) #tuple to list conversion possible

In [82]:
l

[1, 2, 3, 4.5, True, 'Nand']

In [83]:
tuple(l)

(1, 2, 3, 4.5, True, 'Nand')

In [84]:
s=str(l)

In [85]:
s

"[1, 2, 3, 4.5, True, 'Nand']"

In [87]:
tuple(s)

('[',
 '1',
 ',',
 ' ',
 '2',
 ',',
 ' ',
 '3',
 ',',
 ' ',
 '4',
 '.',
 '5',
 ',',
 ' ',
 'T',
 'r',
 'u',
 'e',
 ',',
 ' ',
 "'",
 'N',
 'a',
 'n',
 'd',
 "'",
 ']')

In [88]:
#Dictionary

In [89]:
d={}

In [90]:
type(d)

dict

In [91]:
d1={1}

In [92]:
type(d1)

set

In [93]:
#Symbol for both dictionary and set are same

In [94]:
d2={'key1':'Nand',124:568,'Num':854.6,1:True,'No':False}

In [95]:
type(d2)

dict

In [98]:
d2['Num'] #For indexing we need to given key as indexing element

854.6

In [104]:
d3={'Name':"Data",'tech':['Python','R','Big data']}

In [105]:
d3["tech"]

['Python', 'R', 'Big data']

In [107]:
"Python" in d3["tech"]

True

In [108]:
#If key is repeated then it will consider last kay for output so it must be unique keys

In [109]:
d3["k1"]="xyz" #Dictionary is mutable

In [110]:
d3

{'Name': 'Data', 'tech': ['Python', 'R', 'Big data'], 'k1': 'xyz'}

In [111]:
d3["Name"]="56"

In [112]:
d3

{'Name': '56', 'tech': ['Python', 'R', 'Big data'], 'k1': 'xyz'}

In [115]:
d3['k3']=d2

In [116]:
d3

{'Name': '56',
 'tech': ['Python', 'R', 'Big data'],
 'k1': 'xyz',
 'k3': {'key1': 'Nand', 124: 568, 'Num': 854.6, 1: True, 'No': False}}

In [117]:
d3['k3']['No'] #Data Exytraction

False

In [118]:
#Key is possible to be as tuple and not list, dict, special characters

In [119]:
#Keys are immutablein the sense that they are not list and dict

In [120]:
d={'input':5000,'unit':['mm','cm','m','km'],'cond':(True, False),'o1':1,'o2':50}

In [121]:
d['result']="Correct"

In [122]:
d

{'input': 5000,
 'unit': ['mm', 'cm', 'm', 'km'],
 'cond': (True, False),
 'o1': 1,
 'o2': 50,
 'result': 'Correct'}

In [124]:
d+d2 #concatenation operation not possible in case of dictionary

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [126]:
d.keys() #Gives list all keys

dict_keys(['input', 'unit', 'cond', 'o1', 'o2', 'result'])

In [127]:
d.values() #Gives only values

dict_values([5000, ['mm', 'cm', 'm', 'km'], (True, False), 1, 50, 'Correct'])

In [128]:
d.items() #list of the tuples as output

dict_items([('input', 5000), ('unit', ['mm', 'cm', 'm', 'km']), ('cond', (True, False)), ('o1', 1), ('o2', 50), ('result', 'Correct')])

In [129]:
#Set

In [133]:
s={1,5,5,1,8,4,5,5,4,4,8,'k'}

In [136]:
s #removes repetative values from the output and gives unique entities

{1, 4, 5, 8, 'k'}

In [137]:
type(s)

set

In [138]:
#NO its not given the sorted data

In [139]:
s2={5428,64,1,55,9584,34,6225,12,854}

In [140]:
s2

{1, 12, 34, 55, 64, 854, 5428, 6225, 9584}

In [141]:
s3={"Nand",548,5000,2,456,21,2,456}

In [142]:
s3

{2, 21, 456, 5000, 548, 'Nand'}

In [143]:
#indexing is not possible

In [144]:
#Conversion of set into list
list(s3)

[2, 548, 21, 456, 5000, 'Nand']

In [145]:
tuple(s3)

(2, 548, 21, 456, 5000, 'Nand')

In [146]:
s2.add(56)

In [147]:
s2

{1, 12, 34, 55, 56, 64, 854, 5428, 6225, 9584}

In [149]:
s2.add([2,5,4,8]) #Cant be add collection inside the set

TypeError: unhashable type: 'list'

In [150]:
s2.add((1,5,8,7))

In [151]:
#Tuple is possible to add into the set

In [157]:
s2.remove(12)

In [158]:
s2.discard(556144)

In [159]:
#Discard wont give error eve though it is not there in set
#Whereas remove will give you the error if element is not there in set