2022.10.20

String Varible

In [3]:
s="ineuron"

In [4]:
type(s)

str

In [5]:
s[0] #index starts from 0, each and everything stored at some idnex

'i'

In [6]:
#Forward index and backward index 0,1,2,3,... and ...-3,-2,-1

In [7]:
s[5]

'o'

In [8]:
s[-2]

'o'

In [9]:
#string is given in single as well as double quote

In [10]:
s1='Nandkumar'

In [11]:
s1[-3]

'm'

In [12]:
'I am Nandkumar Patil"s'

'I am Nandkumar Patil"s'

In [13]:
#Try to enclose the complete sentence with double quotes if you are using single quote in between

In [14]:
s2="My name is Nandkumar Patil'and I am an Engineer"

In [15]:
s2

"My name is Nandkumar Patil'and I am an Engineer"

In [16]:
s2[10]

' '

In [17]:
s2[12]

'a'

In [18]:
s2[1:5] #Serires and subset extraction from string with colon

'y na'

In [19]:
#Starts from a go till b but exclude the index b [a:b] Exclude the upper bound

In [20]:
s2[6:30:2]

"ei adua ai'n"

In [21]:
s2[2:20:5]

'  am'

In [22]:
#starting point, uppper bound and step

In [23]:
s3='NandkumarShantaramPatil'

In [24]:
s3[0:10:2]

'Nnkmr'

In [25]:
s3[0:15:1]

'NandkumarShanta'

In [26]:
s3[0:15:-1] #Output is blank as both direction of jump and moving are contradicting so output is null

''

In [27]:
s3[15:0:-1] #MOving direction is same as jumping direction

'ratnahSramukdna'

In [28]:
s3[8:2:-2]

'rmk'

In [29]:
s3[:-3] #upper bound is -3 and it skipped the character at position -3

'NandkumarShantaramPa'

In [30]:
#Jumpsize is 1 by default if not mentioned
#By default starting point is 0
#If not mentioned then default jump direction is positive
#Upper bound be default is maximum size of string+1

In [31]:
s3[-2:]

'il'

In [32]:
s3[::1]

'NandkumarShantaramPatil'

In [33]:
s3[::-1]

'litaPmaratnahSramukdnaN'

In [34]:
#When only jump direction is given then lower bound and upper bound will be considered accordingly

In [35]:
s[::-1]

'norueni'

In [36]:
s1[::-1]

'ramukdnaN'

In [37]:
s

'ineuron'

In [38]:
s[::-1]  #reverse the entire string

'norueni'

In [39]:
s[-2:-7:1] # Contradiction between moving direction and jumping direction

''

In [40]:
s[-7:-2:1] #Both Jumping direction and moving direction is same

'ineur'

In [41]:
s[-2] #upper bound is always excluded from slicing operation

'o'

In [42]:
s[5:0] #Contradiction between the moving anf jumping direction

''

In [43]:
s[-5:0:1]

''

In [44]:
#s3[-7:0:1] for s=ineuron
#The scale showed and the explanation is wrong I think. Moving from -7 to 0 is shown in the wrong way. I think here there is no contradiction issue whereas the issue is with the same location of -7 and 0.

In [45]:
s+1 #addition of numerical value and string is not possible

TypeError: can only concatenate str (not "int") to str

In [46]:
#python is strong type language
s+'1'

'ineuron1'

In [47]:
#Concatenation operation can be done on any strings but for that we need to have 2 strings

In [48]:
s + str(1) #Type casting function todefine or change the datatype for data instantaly

'ineuron1'

In [49]:
s[0::-1] #Need Solution

'i'

In [50]:
s[:9:-1]

''

In [51]:
#To find the length of complete string counts the number of characters
len(s)

7

In [52]:
s*2 #repeats the string that much times

'ineuronineuron'

In [53]:
#variable.tab gives different functions
s.count('i') #gives the count of the argument into the string

1

In [54]:
#Return the number of non-overlapping occurrences of substring sub instring S[start:end].  Optional arguments start and end areinterpreted as in slice notation.

In [55]:
s3.count('a')

6

In [56]:
s3.count('Nan') #Case sensitive

1

In [57]:
s3

'NandkumarShantaramPatil'

In [58]:
s.split('r') #returns the list of the substring which are created by considering the separator argument

['ineu', 'on']

In [59]:
s.split('n')

['i', 'euro', '']

In [60]:
'The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

'Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

SyntaxError: EOL while scanning string literal (261113669.py, line 1)

In [61]:
sw='The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]'

In [62]:
sw

'The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]'

In [63]:
sw.split(" ") #separator as argument in the function

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]']

In [64]:
#For multiline data under string variable use triple quote whivh is also used for multiline commenting

In [65]:
s4="""The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."""

In [66]:
s4

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [67]:
s.upper()

'INEURON'

In [68]:
s.lower()

'ineuron'

In [69]:
s=s.upper()

In [70]:
s

'INEURON'

In [71]:
s.lower()

'ineuron'

In [72]:
s1

'Nandkumar'

In [73]:
s1.title() #First letter will be capital or upper case each word is title case

'Nandkumar'

In [74]:
s=s.capitalize() # gives the only first character is upper case

In [75]:
s

'Ineuron'

In [76]:
s.swapcase()

'iNEURON'

In [77]:
reversed(s)

In [78]:
''.join(reversed(s))

'noruenI'

In [79]:
s5="     Nand   kumar       "

In [80]:
s5

'     Nand   kumar       '

In [81]:
s5.strip() #Remove spaces on both left and right

'Nand   kumar'

In [82]:
s5.lstrip() #Remove the space on left

'Nand   kumar       '

In [83]:
s5.rstrip() #Remove the space on right

'     Nand   kumar'

In [84]:
" ".join("Nandkumar")

'N a n d k u m a r'

In [85]:
s6="Nand"

In [86]:
s6.center(20,'*')

'********Nand********'

In [87]:
s7="12548"

In [88]:
s7.isdigit()

True

In [97]:
s7='jdh23456Nandjsjh'

In [98]:
s7.isdigit()

False

In [99]:
s7.isalpha()

False

In [100]:
s7.isalnum()

True

In [101]:
s7.startswith('1')

False

In [102]:
#Python is case sensitive language
#numbers can be alphanumeric whereas

In [103]:
s7.endswith('6')

False

In [106]:
#isdigit and isnumeric 
#isdigit = All characters in the string are digits and there is atleast one character
#isnumeric=

In [104]:
s7.isdigit()

False

In [105]:
s7.isnumeric()

False

In [125]:
st='123456'

In [126]:
st.isdigit()

False

In [127]:
st.isnumeric()

False

In [130]:
st.isascii() #Anything typed from keyboard is ASCII characters

True

In [134]:
#isspace is not alpha neither numeric
#isspace checks if whole string is space or not
#isalnum is or condition statement where alphabet and numeric check

In [138]:
s8='nandkumar\tshantaram\tpatil'

In [140]:
s8

'nandkumar\tshantaram\tpatil'

In [141]:
s8.expandtabs()

'nandkumar       shantaram       patil'

In [142]:
s= "this is My First python programming class and I am learning Python string and its function"

1. Try to expand data from index 1 to index 300 with a jumpof 3
2. Try to reverse a string without using reverse function
3. Try to split a string after conversion of entire string in uppercase
4. Try to convert the whole string into lower case
5. Try to capitalize the whole string
6. Write a difference between isalnum() and isalpha()
7. Try to give an example of strip, Istrip and rstrip
8. Give an example of expand tab
9. Replace the string character by another character by taking your own example
10. Try to give a defination of string centre function with an example
11. Write your own defination of compiler and interpretor without copy paste from internet in your own language
12. Python is a interpreted of compiled language give a clear ans with your understanding
13. Try to write a usecase of python with your understanding.

In [ ]:
shivan@ineuron.ai